*{
    margin: 0px;
    padding: 0px;

}
.main{
    width: 100%;
}
#juliet-menu{
    width: 100%;
    overflow: auto;
}
#logo{
    width: 150px;
    height: 150px;
    margin-left: 100px;
    float: left;
}

#logo img{
    width: 100%;
}
#menu{
    height:100px;
    width: 700px;
    float: right;
    margin-right: 100px;
    margin-top: 20px;
}
#menu ul{
    width: 100%;
    padding-top: 20px;
    text-align: center;

}

#menu li{
    display: inline-block;
    list-style: none;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid;
    background-color: rgb(133, 43, 122);
    color: white;
    
}
#holder{
    width: 1100px;
    text-align: center;
    border: solid;
    overflow: auto;
    margin: auto;

}
#image{
    width: 500px;
    float: left;
    border: solid;
}
#image img{
    width: 100%;
}
#text{
    width: 500px;
    float: left;
    padding: 20px;
    text-align: justify;
    border: solid;
}

@media screen and (max-width:1050px){
        #logo{
        width: 100%;
        margin-left: 0px;
        text-align: center;
    }

            #logo img{
        width: 150px;
        height: 150px;
    }

    #menu{
        width: 100%;
        margin-right: 0px;
    }
    #menu li{
    width: 98%;
}


}